/* 
주석
 */
/*
선택자
1. 요소들 중 내가 원하는 요소를 선택할 수 있어야 한다.
2. 우선 순위에 대한 파악 (중요) */

/* 전체 선택자 */
/* 낮은 우선순위 -> 높은 우선순위가 나오면 덮어 씌어짐*/
/*  html, body 요소에도 영향 */

* {
  /*    border: 1px solid #000; 보더를 주면 html까지 영향이 가서 아래 두개만 사용한다. */
  padding: 0%;
  margin: 0%;
}

/* 태그선택자 (잘 사용안함)*/
/* 태그 선택자는 특정 태그 모두 선택한다. */

div {
  color: blue;
}
/* 그룹 선택자, (조금 사용한다.)
두가지 이상의 선택자를 선택할 때 
우선 순위가 같을 때는 늦게 나온 순으로 적용됨 */

div,
p {
  color: green;
}
/* 아이디(#), 클래스 선택자 (가장많이사용, 태그와 같이 사용할 수 있음)*/
/* 아이디 선택자는 우선순위가 높다. 인라인 다음으로 높음  
   아이디는 한 요소에 1개만 줄 수 있다.
   아이디는 js때 많이 사용한다. 단, 절대 바뀌지 않는다면 사용할 수도 있다. */
/* 선택자 자체는 단수, 복수 
   우선 순위가 높을 수록 사용을 주의해야 한다. */
/* 보통 css를 부여할때는 클래스를 많이 사용한다. */

#p1 {
  color: red;
}

.p-class {
  color: blue;
}

.active {
  text-decoration: underline;
}

/* 자식, 자손 선택자 (많이 사용함, 명확히 알고 있어야 함) */
/* 가족 (부모, 조상, 자식, 자손, 형재) */
/* 
 ex)
 <div>
   조상 요소는 현재 요소의 모든 상위 요소
   <div>
   부모 요소는 바로 상위 요소
   자식 요소는 특정 요소의 바로 하위 요소
     <div>
     자손 요소는 현재 요소의 모든 하위 요소
     </div>
   </div>
 </div> */

#parent > p {
  color: red;
}

/* 1,6,7의 p가 선택되고 색상이 변한건 1,6이다.
  
   7번 p는 안에 있는 span이 부모 요소의 css를 상속(전달)해서 변한 것임 
   상속은 font, color 관련된 속성이다. <- 여기에 자주 일어난다.
   부모 요소가 크면 자식 요소도 같이 커짐
   색상 관련된 속성은 부모요소가 변하면 자식 요소도 함께 변한다.
   */

#parent a {
  color: blue;
  text-decoration: none;
}
/*5번 선택됨*/

#parent ul li {
  background-color: green;
}
/* 2,4 선택 , 3,5는 상속받음*/

#parent > ul > li > p {
  background-color: yellow;
}

#parent ul li p {
  background-color: red;
}

/* 자식과 자손의 우선순위는 같다.
자식과 자손 관계가 명확할 수록 우선순위가 높다.
뎁스가 많으면 우선순위 */

/* 
1. 상속은 (부모 요소 속성 전달) 편의성 기능
2. 자식 자손 요소는 우선 순위 같음
3. 자식 자손 선택자에서 명확할 수록(길이가 길수록) 우선순위가 높다. 
*/

/* 형재 선택자 (많이 씌이진 않음) */
